@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

body {
  margin: 0;
  background-position: center;
  background-color: #FFC776;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFBC2F'/%3E%3Cstop offset='1' stop-color='%23FFC776'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFF85C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFF85C' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.page {
  width: 100vw;
  min-height: 100vh;
}

.d-flex {
  display: flex;
}

.content-container {
  display: flex;
  justify-content: center;
  padding: 30px 10px;
  flex-direction: column;
}

.custom-form {
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  border-top: .2em solid #db2828;
  padding: 20px 20px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.flex-full {
  display: flex;
  justify-content: center;
  width: 100%;
}

.error div.divider.default.text {
  color: #9f3a384f !important;
}

.error .item .text {
  background: transparent !important;
}

.header {
  font-size: 28px;
  padding: 10px 20px 25px 20px;
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.table-header {
  font-size: 28px;
  padding: 10px 20px 30px 20px;
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

table.fixed {
  min-width: 1024px;
  max-width: 1300px;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px !important;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-btn-container {
  display: flex;
  width: 94%;
  justify-content: flex-end;
  margin-top: -50px;
  margin-bottom: 25px;
}

.ui.button.btn-submit {
  font-weight: 600;
  padding-top: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

.scrollable {
  overflow: scroll;
  width: 100%;
  text-align: -webkit-center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 16px;
  padding-bottom: 2rem;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.list-transactions {
  padding-right: 32px !important;
}

.list-groups {
  padding-left: 32px !important;
}

.expense-card {
  display: flex;
  flex-direction: row;
}

.expense-card-body {
  flex: 1;
}

.expense-card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
}

.expense-card-link {
  color: grey;
  display: flex;
}

.expense-card-action {
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expense-card .ui.divider {
  margin: 0.5rem 0;
}

.add-expense-modal .form-radio-container{
  display: flex;
  justify-content: space-around;
}

.add-expense-modal .radio-segment {
  padding-bottom: 0 !important;
}

.add-expense-modal .ui.radio.checkbox label {
  padding-left: 1.5rem;
}

@media (max-width: 660px) {
  .expense-card-header {
    flex-direction: column;
  }

  .expense-card {
    flex-direction: column;
  }

  .expense-card-action {
    padding-left: 0;
  }

  .list-transactions {
    padding-right: 1rem !important;
  }
  
  .list-groups {
    padding-left: 1rem !important;
  }
}